In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import datetime as dt
from datetime import timedelta
from datetime import date

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [ ]:
'''
------I was to use this before class but actually------
------We can use SQL instead of ORM------YES!----------
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# We can view all of the classes that automap found
Base.classes.keys()

# Save references to each table
Station = Base.classes.station
Measurement = Base.classes.measurement

# Create our session (link) from Python to the DB
session = Session(engine)
---------------------THANK YOU!------------------------
'''

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
measure_df = pd.read_sql("SELECT * FROM measurement ORDER BY date DESC", conn)
measure_df.head()

In [ ]:
latestDate1 = dt.date(2017, 8, 23)
postDate1 = latestDate1 - dt.timedelta(days=365)
print(f'Post Date in last 12 monts : {postDate1} ')

In [ ]:
# Calculate the date 1 year ago from the last data point in the database
q1 = '''

SELECT * FROM measurement
WHERE date BETWEEN '2016-08-23' AND '2017-08-23'
ORDER BY date DESC;
'''
#

last12mnts = pd.read_sql(q1, conn)
last12mnts

In [ ]:
# Perform a query to retrieve the date and precipitation scores
prcp12 = last12mnts.loc[:, ['date', 'prcp']]

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column
prcp12.set_index('date', inplace=True)

In [ ]:
# Sort the dataframe by date #ascending
prcp12.sort_values(by='date')

In [ ]:
prcp12 = prcp12.dropna()

In [ ]:
prcp12.to_csv('prcp.csv', index=True)

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

prcp12.plot(figsize = (12, 8), color='firebrick')

plt.xlabel('Date', fontsize=15)
plt.ylabel('Precipitation (Inches)', fontsize=15)
plt.title("The last 12 months precipitation in Hawaii", fontsize=17)
plt.grid(alpha=0.3)
plt.locator_params(axis='x', nbins=6)
plt.xticks([], [])

plt.savefig("outputs/precipitation.png")

plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
prcp12.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
q2 = '''

SELECT COUNT(DISTINCT station) AS station_counts
FROM measurement

'''

station_count = pd.read_sql(q2, conn)

In [ ]:
stationCountValue = station_count.iloc[0,0]
print(f'Station Counts : {stationCountValue} stations')

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
q3 = '''

SELECT station, COUNT(*) AS count_frequency
FROM measurement
GROUP BY station
ORDER BY count_frequency DESC;
'''
mostActiveCount = pd.read_sql(q3, conn)
mostActiveCount

In [ ]:
mostActiveStation = mostActiveCount.iloc[0,0]
mostActiveValue = mostActiveCount.iloc[0,1]

print(f'Most Observation Station : {mostActiveStation}')
print(f'Obsevation Frequency : {mostActiveValue}')

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?
q4 = '''

SELECT 
    station,
    MAX(tobs) AS max_temp,
    MIN(tobs) AS min_temp,
    round(AVG(tobs), 2) AS avg_temp    
FROM measurement
WHERE station == 'USC00519281';
'''
mostActive_tobs = pd.read_sql(q4, conn)
mostActive_tobs

In [ ]:
# Choose the station with the highest number of temperature observations.
q5 = '''

SELECT 
    station,
    MAX(tobs) AS max_temp  
FROM measurement;
'''
max_tobs_station = pd.read_sql(q5, conn)
max_tobs_station

In [ ]:
# Query the last 12 months of temperature observation data for 'this station' 
q6 = '''

SELECT station, date, tobs
FROM measurement
WHERE station == 'USC00519397'
ORDER BY date DESC

'''
# To find the lastest date
dateDescending = pd.read_sql(q6, conn)
dateDescending.head(1)

In [ ]:
# To find the postdate in last 12 months
latestDate2 = dt.date(2017, 8, 23)
postDate2 = latestDate2 - dt.timedelta(days=365)
print(f'Post Date in last 12 monts : {postDate2} ')

In [ ]:
q7 = '''

SELECT date, tobs 
FROM measurement
WHERE station == 'USC00519397'
AND date BETWEEN '2016-08-23' AND '2017-08-23';
'''
tobs12 = pd.read_sql(q7, conn)
tobs12.head()

In [ ]:
# and plot the results as a histogram

fig,ax = plt.subplots()

x = tobs12['tobs']

#figsize = (12,8)

ax.hist(x, bins=12,label='tobs', color='orange')

ax.set_title('Last 12 months of Temp. Obsevation from USC00519397', fontsize=15)
ax.set_xlabel('Temp', fontsize=12)
ax.set_ylabel('Frequency', fontsize=12)
ax.grid(alpha=0.5)

plt.show()

## Bonus Challenge Assignment

## Temparature Analysis

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    q8 = '''

    SELECT 
        MIN(tobs) as min_temp,
        AVG(tobs) as avg_temp,
        MAX(tobs) as max_temp
    FROM measurement
    WHERE date IN (start_date, end_date)
    '''
    tempBySelectedDate = pd.read_sql(q8, conn)
    
    min_temp, avg_temp, max_temp = tempBySelectedDate[0]
    
    #return a list
    return [('Trip Min Temp:', min_temp),
           ('Trip Avg Temp:', avg_temp),
           ('Trip Max Temp:', max_temp)
           ]
 
    #return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        #filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

#function usage example
#print(calc_temps('2016-02-28', '2016-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
start_trip_on = input("Enter the trip Start Date in 'YYYY-MM-DD' format: ")
end_trip_on = input("Enter the trip End Date in 'YYYY-MM-DD' format: ")

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

## Daily Rainfall Analysis

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`